<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998213922607-ovdaf9mua6q8h2ps9v1lvbdq9pr9rrkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998213922607-ovdaf9mua6q8h2ps9v1lvbdq9pr9rrkv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>998213922607-nhmrds04qe3bn4ccjv49vm30bo2r71i8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADAyliMfeG9nuDq73WORntxDt_0rwSYoI</string>
	<key>GCM_SENDER_ID</key>
	<string>998213922607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.doubleh.flutterChatSdk</string>
	<key>PROJECT_ID</key>
	<string>chat-sdk-51a9d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-sdk-51a9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998213922607:ios:b44a30f594a9a09e</string>
	<key>DATABASE_URL</key>
	<string>https://chat-sdk-51a9d.firebaseio.com</string>
</dict>
</plist>